# -- String to partially override helper.fullname template (will maintain the release name)
nameOverride:

# -- String to fully override helper.fullname template
fullnameOverride:

# -- Add annotations to all the deployed resources
commonAnnotations: {}

# -- Add labels to all the deployed resources
commonLabels: {}

# -- Fleet [ClusterGroups](https://fleet.rancher.io/cluster-group)
# @default -- see [values](values.yaml)
clustergroups: []

# -- Fleet [GitRepos](https://fleet.rancher.io/gitrepo-add)
# @default -- see [values](values.yaml)
gitrepos:
  - name: calico-networkpolicy
    create: true
    description: Calico (Network Policy Engine)
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-calico-networkpolicy.git
      revision: 0.0.27
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: cert-manager
    create: true
    description: JetStack Certificate Manager
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-external.git
      revision: dd-cert-manager-label #1.0.268
      paths:
        - cert-manager
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: cert-manager-issuers
    create: true
    description: Cert-Manager Cluster Issuers
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-issuers.git
      revision: 1.2.17
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: cluster-autoscaler
    create: true
    description: Cluster Autoscaler
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-external.git
      revision: 1.0.282
      paths:
        - cluster-autoscaler
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: datadog
    create: true
    description: Datadog Agent
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-external.git
      revision: 1.0.284
      paths:
        - datadog
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: dnsrecords
    create: true
    description: DNS records managed by External DNS
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-dnsrecords.git
      revision: 1.0.65
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: ebs-csi-driver
    create: true
    description: EBS CSI Driver
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-external.git
      revision: 1.0.282
      paths:
        - aws-ebs-csi-driver
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: external-dns
    create: true
    description: External DNS
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-external.git
      revision: 1.0.282
      paths:
        - external-dns
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: ingress-nginx
    create: true
    description: NginX Ingress Controller
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-external.git
      revision: 1.0.282
      paths:
        - ingress-nginx
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: metrics-server
    create: true
    description: Metrics Server
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-external.git
      revision: 1.0.282
      paths:
        - metrics-server
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: opa-library
    create: true
    description: OPA Library
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-opalibrary.git
      revision: 0.0.22
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: rancher-gatekeeper
    create: true
    description: Rancher OPA Gatekeeper
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-external.git
      revision: 1.0.282
      paths:
        - rancher-gatekeeper-crd
        - rancher-gatekeeper
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: siemens-opa
    create: true
    description: Siemens OPA Constraints
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-opa.git
      revision: 1.0.37
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: sealed-secrets-controller
    create: true
    description: Bitnami Sealed Secrets controller
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-external.git
      revision: 1.0.282
      paths:
        - sealed-secrets
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: secrets
    create: true
    description: KaaS SealedSecrets
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-secrets.git
      revision: 1.1.77
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: snapshot-controller
    create: true
    description: CSI Snapshot Controller
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-external.git
      revision: 1.0.282
      paths:
        - snapshot-controller
        - snapshot-validation-webhook
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: storageclasses
    create: true
    description: Storage Classes and Volume Snapshot Classes
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-storageclasses.git
      revision: 1.0.26
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  - name: velero
    create: true
    description: Velero Backups
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-external.git
      revision: 1.0.282
      paths:
        - velero
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}

  ### Add XCR team's application STARTS here
  - name: xcr-foundation
    create: true
    description: XCR Foundation chart
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/chimera/kubernetes/fleet/foundation.git
      branch: master
      clientSecretName: gitlab
      targets:
        - name: all
          clusterSelector: {}

  - name: xcr-logging
    create: true
    description: XCR Logging stack for rancher cluster
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/chimera/kubernetes/fleet/logging.git
      branch: main
      clientSecretName: gitlab
      paths:
        - logging-crd
        - logging-chart
        - ns-logging-obj
      targets:
        - name: all
          clusterSelector: {}

  - name: xcr-loki
    create: true
    description: XCR Loki stack for rancher cluster
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/chimera/kubernetes/fleet/loki.git
      branch: master
      clientSecretName: gitlab
      paths:
        - loki
        - loki-canary
      targets:
        - name: all
          clusterSelector: {}

  - name: xcr-monitoring
    create: true
    description: XCR Monitoring stack for rancher cluster
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/chimera/kubernetes/fleet/monitoring.git
      branch: main
      clientSecretName: gitlab
      paths:
        - monitoring-charts
        - service-account
        - blackbox
        - grafana_resources
        - alertmanager_config
        - grafana_dashboards
      targets:
        - name: all
          clusterSelector: {}

  - name: xcr-vault-secrets-webhook
    create: true
    description: XCR Banzaicloud vault webhook chart
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/chimera/kubernetes/fleet/banzaicloud-vault-webhook.git
      branch: main
      clientSecretName: gitlab
      paths:
        - vault-secrets-webhook-chart
        - banzai-webhook-addons
      targets:
        - name: all
          clusterSelector: {}

  - name: xcr-aqua-kube-enforcer
    create: true
    description: XCR aqua enforcer charts
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/chimera/kubernetes/fleet/aqua.git
      branch: XCD-2137
      clientSecretName: gitlab
      paths:
        - kube-enforcer
        - kube-enforcer-certs
      targets:
        - name: all
          clusterSelector: {}

  - name: xcr-aqua-enforcer
    create: true
    description: XCR aqua enforcer charts
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/chimera/kubernetes/fleet/aqua.git
      branch: XCD-2137
      clientSecretName: gitlab
      paths:
        - aqua-enforcer
      targets:
        - name: all
          clusterSelector: {}

  - name: xcr-argocd-sa
    create: false
    description: XCR ArgoCD SA chart
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/chimera/kubernetes/fleet/service-account.git
      branch: main
      clientSecretName: gitlab
      paths:
        - service-account
      targets:
        - name: all
          clusterSelector: {}

  - name: xcr-argocd-sa-rolebinding
    create: false
    description: XCR ArgoCD SA Rolebinding chart
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/chimera/kubernetes/fleet/argocd-rolebinding.git
      branch: main
      clientSecretName: gitlab
      paths:
        - sa-rolebinding
      targets:
        - name: all
          clusterSelector: {}

  - name: xcr-argocd-rbac
    create: true
    description: XCR ArgoCD RBAC chart
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/chimera/kubernetes/fleet/argocd-rbac.git
      branch: main
      clientSecretName: gitlab
      paths:
        - argocd-rbac
      targets:
        - name: all
          clusterSelector: {}

  - name: xcr-hnc-qa
    create: true
    description: hnc
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/chimera/kubernetes/fleet/hnc.git
      branch: main
      paths:
        - hnc
        - hnc-backup
        - hnc-config-job
      clientSecretName: gitlab
      targets:
        - name: all
          clusterSelector: {}

  - name: xcr-custom-promrule-testing
    create: true
    description: promtheus rule testing
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/chimera/kubernetes/fleet/xcr-custom-alerts.git
      branch: main
      clientSecretName: gitlab
      targets:
        - name: all
          clusterSelector: {}

  - name: xcr-ovp-app
    create: true
    description: OVP app for env testing
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/chimera/kubernetes/fleet/ovp-app.git
      revision: 1.0.32
      clientSecretName: gitlab
      paths:
        - ovp-app-chart
        - ovp-addons
      targets:
        - name: all
          clusterSelector: {}

  - name: reloader-global
    create: true
    description: global reloader
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-external.git
      revision: 1.0.282
      paths:
        - reloader-global
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}
  ### XCR team's application ENDS here

  - name: cloudability
    create: true
    description: Cloudability metrics-agent
    spec:
      repo: https://gitlab.industrysoftware.automation.siemens.com/caas-ops/helm-external.git
      revision: 1.0.282
      paths:
        - cloudability
      clientSecretName: gitlab-caas-ops
      targets:
        - name: all
          clusterSelector: {}
